<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.DisplayStrings</key>
    <array>
      <string>/tuplet3</string>
    </array>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3436</string>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.font.customParameters</key>
    <array>
      <dict>
        <key>active</key>
        <false/>
        <key>name</key>
        <string>glyphOrder</string>
        <key>value</key>
        <array>
          <string>space</string>
          <string>uniE062</string>
          <string>uniE050</string>
          <string>dynamicFF</string>
          <string>dynamicFFF</string>
          <string>dynamicFFFF</string>
          <string>dynamicFFFFF</string>
          <string>dynamicFFFFFF</string>
          <string>dynamicForte</string>
          <string>dynamicFortePiano</string>
          <string>dynamicPF</string>
          <string>dynamicPP</string>
          <string>dynamicPPP</string>
          <string>dynamicPPPP</string>
          <string>dynamicPPPPP</string>
          <string>dynamicPPPPPP</string>
          <string>dynamicPiano</string>
          <string>uniE243</string>
          <string>uniE242</string>
          <string>uniE241</string>
          <string>uniE240</string>
          <string>uniE0A4</string>
          <string>uniE0A3</string>
          <string>uniE0A2</string>
          <string>uniE4E7</string>
          <string>uniE4E6</string>
          <string>uniE4E5</string>
        </array>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>m01</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <true/>
    <key>public.glyphOrder</key>
    <array>
      <string>space</string>
      <string>uniE062</string>
      <string>uniE050</string>
      <string>dynamicFF</string>
      <string>dynamicFFF</string>
      <string>dynamicFFFF</string>
      <string>dynamicFFFFF</string>
      <string>dynamicFFFFFF</string>
      <string>dynamicForte</string>
      <string>dynamicFortePiano</string>
      <string>dynamicPF</string>
      <string>dynamicPP</string>
      <string>dynamicPPP</string>
      <string>dynamicPPPP</string>
      <string>dynamicPPPPP</string>
      <string>dynamicPPPPPP</string>
      <string>dynamicPiano</string>
      <string>uniE243</string>
      <string>uniE242</string>
      <string>uniE241</string>
      <string>uniE240</string>
      <string>uniE0A4</string>
      <string>uniE0A3</string>
      <string>uniE0A2</string>
      <string>uniE4E7</string>
      <string>uniE4E6</string>
      <string>uniE4E5</string>
      <string>braceSmall</string>
      <string>braceLarge</string>
      <string>braceLarger</string>
      <string>brace</string>
      <string>uniE260</string>
      <string>uniE261</string>
      <string>uniE262</string>
      <string>timeSig6</string>
      <string>timeSig8</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>dynamicFF</key>
      <string>uniE52F</string>
      <key>dynamicFFF</key>
      <string>uniE530</string>
      <key>dynamicFFFF</key>
      <string>uniE531</string>
      <key>dynamicFFFFF</key>
      <string>uniE532</string>
      <key>dynamicFFFFFF</key>
      <string>uniE533</string>
      <key>dynamicForte</key>
      <string>uniE522</string>
      <key>dynamicFortePiano</key>
      <string>uniE534</string>
      <key>dynamicPF</key>
      <string>uniE52E</string>
      <key>dynamicPP</key>
      <string>uniE52B</string>
      <key>dynamicPPP</key>
      <string>uniE52A</string>
      <key>dynamicPPPP</key>
      <string>uniE529</string>
      <key>dynamicPPPPP</key>
      <string>uniE528</string>
      <key>dynamicPPPPPP</key>
      <string>uniE527</string>
      <key>dynamicPiano</key>
      <string>uniE520</string>
    </dict>
  </dict>
</plist>
